<header id="challenge-header" class="site-header">
  <div class="lang-select">
    <select id="lang-select" class="btn-outline lang-select">
      <option value="">English</option>
      <option value="zhtw">正體中文</option>
      <option value="ja">日本語</option>
    </select>
  </div>
  <a class="filledblock" href="../index{{ lang }}.html">
    Git-it
  </a>
  <span class="challenge-title">{{ challengetitle }}</span>
</header>

<script type="text/javascript">
  var selector = document.getElementById('lang-select')
  // TODO put lang somewhere else that we can get without needing template in JS
  // Can also remove default '-' with lang
  var currentLang = "{{ lang }}".replace(/-/, '')
  selector.value = currentLang
  selector.addEventListener('change', function () {
    var currentChallenge = document.querySelector('.challenge-item.current')
    var dir = 'challenges' + (selector.value ? '-' + selector.value : '') + '/'
    var url = currentChallenge.href.replace(/challenges(.+)?\//, dir)
    // TODO pass to languages.js rather than set global
    location.href = url
  })
</script>
