<header class="site-header">
  <div class="nav u-posFixed">
    <div class="wrap-width u-textCenter">
      <a href="{{preurl}}"
        <span class="u-floatLeft hand">☜</span>
      </a>
      <a class="filledblock" href="../index{{lang}}.html">Git-it</a>
      <a href="{{nexturl}}"
        <span class="u-floatRight hand">☞</span>
      </a>
    </div>
  </div>
  
  <div class="wrapper">
    <div class="u-floatLeft">
      <span class="all-caps">CHALLENGE</span>
      <h2 class="challenge-name">{{challengetitle}}</h2>
    </div>
    <div class="u-floatRight u-textRight">
      <span class="all-caps">NUMBER</span>
      <h2 class="challenge-name">{{challengenumber}} / 11</h2>
    </div>
  </div>
</header>