<div class="verify bold-blue solid-box">
  <button class="btn-white" id='select-directory'>SELECT DIRECTORY</button>
  <button class="btn-white" id='verify-challenge'>VERIFY</button>
  <div id="verify-spinner" class="sk-double-bounce">
    <div class="sk-child sk-double-bounce1"></div>
    <div class="sk-child sk-double-bounce2"></div>
  </div>
  <span id='path-required-warning'>Please select your repository directory.</span>
  <span id='directory-path'></span>
  <ul id="verify-list">
  </ul>
  <button class="btn-white" id="clear-completed-challenge">Clear completed status</button>
</div>
