@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(fonts/SourceSansPro-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(fonts/SourceSansPro-Semibold.otf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(fonts/SourceSansPro-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(fonts/SourceSansPro-Black.otf) format('opentype');
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.8em;
  color: #333935;
  background-color: #f5f5f5;
  font-size: 15px;
  margin: 0;
}

div, header, select, a {
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.u-floatRight {
  float: right;
}

.u-floatLeft {
  float: left;
}

.u-textCenter {
  text-align: center;
}

.u-textRight {
  text-align: right;
}

.u-posFixed {
  position: fixed;
}

li {
  padding-bottom: 4px;
}

.nav {
  width: 100%;
  background-color: #fafafa;
  top: 0;
}

.wrap-width {
  width: 600px;
  margin: auto;
  padding: 0 20px;
}

.wrapper {
  min-width: 800px;
  margin-top: 60px;
}

.page-wrapper {
  max-width: 600px;
  margin: 60px auto 0;
  padding: 15px;
}

.sidebar {
  width: 25%;
  position: fixed;
  height: 100%;
  background-color: #f5f5f5;
}

.content {
  padding: 15px;
  margin-left: 25%;
  width: 75%;
  height: 100%;
  background-color: #fff;
}

.site-header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 20px;
  z-index: 9;
  text-align: center;
  background: #fafafa;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.challenge-title {
  text-transform: capitalize;
  font-size: 19px;
  font-weight: 800;
  color: #4BABFF;
  line-height: 1;
  display: inline-block;
}

.pagination {
  position: absolute;
  top: 12px;
  right: 15px;
}

.list-of-challenges {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-of-challenges li {
  padding: 0;
}

.challenge-item {
  padding: 3px 10px;
  display: block;
  text-transform: capitalize;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

/* :after instead of :before cause it messes with text-transform */
.challenge-item:after {
  content: " ";
  float: left;
  width: 20px;
  display: inline-block;
}

.challenge-item.completed:after {
  content: "✔️ ";
  position: absolute;
  left: 10px;
  top: 4px;
  color: #fff;
}

.challenge-item.current .current-arrow {
  display: block;
}

.current-arrow {
  float: right;
  display: none;
}

.challenge-item.completed:hover {
  background-color: #1EA577;
}

.challenge-item.current {
  background-color: #ECFCE0;
  color: #456;
  margin-right: -3px;
  border-color: white;
}

.challenge-item.completed {
  position: relative;
  background-color: #22B784;
  color: #fff;
  padding-left: 30px;
}


.hand,
.lang-select {
  padding: 4px 13px;
  border-radius: 3px;
  color: #0087ff;
  display: inline-block;
}

.hand {
  border: 1px solid #8cf;
  font-size: 26px;
  margin-left: 10px;
}

.lang-select {
  border-color: #8cf;
  position: absolute;
  height: 36px;
  width: 100px;
  margin: 5px 8px;
  top: 0;
  left: 0;
  appearance: none;
  -webkit-appearance: none;
}

.lang-select:after {
  content: "";
  border: 5px solid transparent;
  border-top-color: #8cf;
  position: relative;
  left: 40px;
  top: 5px;
  pointer-events: none;
  display: inline-block;
  z-index: 10;
}

.hand:hover {
  border-color: transparent;
  background-color: #08f;
  color: #fff;
}

.challenge-name {
  text-transform: capitalize;
  font-weight: 900;
  color: #0087ff;
}

.filledblock {
  display: inline-block;
  padding: 4px 10px;
  font-weight: 900;
}

.filledblock:hover {
  background: #4BABFF;
  color: #fff;
}

.all-caps {
  font-size: 12px;
  text-transform: uppercase;
}

.site-header h2 {
  margin-top: 12px;
}

h1, h2, h3, h4, .toc {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
}

.content h1, .content h2, .content h3, .content h4 {
  margin-top: 50px;
}

a {
  color: #0087ff;
  text-decoration: none;
}

a:hover {
  color: #4BABFF;
}

.toc li {
  margin-bottom: 10px;
}

.toc li a {
  font-weight: 700;
}

.toc {
  padding-left: 0;
  text-align: left;
  list-style-position: inside;
}

.toc .done:before {
  content: 'done!';
  float: right;
  color: #aaa;
  text-decoration: none !important;
}

.toc .done a {
  text-decoration: line-through;
}

code, .outof {
  font-size: 0.9em;
  border: 1px solid #9DA6B3;
  padding: 4px 6px;
  border-radius: 2px;
  font-family: Liberation Mono, Monaco, Courier New, monospace;
  white-space: nowrap;
}

footer {
  border-top: 3px solid #0087ff;
  margin: 20px 0 0;
  padding: 12px 0;
}

footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding: 0 6px;
}

.prenext {
  overflow: auto;
}

.challenge-desc {
  color: #777;
  font-style: italic;
}

#git-tips,
.didnt-pass {
  border: 1px solid #BADFFF;
  padding: 18px;
  margin: 18px 0 36px;
}

.didnt-pass {
  border-color: #999;
}

#git-tips h2 {
  color: #08f;
}

#git-tips h2,
.didnt-pass h2 {
  margin: -32px -8px 0;
  float: left;
  background: #fff;
  padding: 0 8px;
}

#git-tips h2 + p {
  margin-top: 0;
}

#git-tips p:last-child,
.didnt-pass p:last-child {
  margin-bottom: 0;
}

#git-tips ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#git-tips code, .didnt-pass code {
  border-color: #0087ff;
}

#git-tips li {
  margin-top: 0px;
}

.challenge, .verify {
  background-color: #0087ff;
  color: #fff;
  padding: 18px 18px 5px;
}

.verify code {
  border-color: #fff;
  display: inline-block;
}

.verify {
  margin-top: 30px;
  margin-bottom: 30px;
}

#git-tips h4,
.challenge h2,
.verify h3 {
  margin-top: 0;
}

.didnt-pass h4 {
  margin: 10px 0 0;
}

.didnt-pass h4:before {
  content: '⚠️ ';
  font-weight: normal;
}

.didnt-pass p + h4 {
  padding-top: 30px;
}

.verify h3 {
  display: inline-block;
  padding-right: 12px;
}

blockquote {
  border-left: 2px solid #acacac;
  padding-left: 30px;
  margin: 30px 0;
  color: #acacac;
}

.weehero {
  background-color: #0087ff;
  padding: 30px;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
}

img {
  margin: 30px 0 18px;
}

n, v, adj {
  position: relative;
}

.superscript {
  font-size: 0.6em;
  position: absolute;
  top: -20%;
  line-height: 0.6em;
  font-weight: normal;
  white-space: nowrap;
  opacity: 0.8;
}

.u-inlineBlock {
  display: inline-block;
}

/* new stuff */

#directory-path:empty {
  display: none;
}

#path-required-warning,
#directory-path {
  font-family: Liberation Mono, Monaco, Courier New, monospace;
  padding: 6px 12px 6px 10px;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-left: -3px;
}

#path-required-warning {
  display: none;
  color: #ff0;
}

#path-required-warning.show {
  display: inline;
}

#path-required-warning.show + #directory-path {
  display: none;
}

.verify-fail:before {
  content: '✗ ';
}

.verify-pass:before {
  content: '✔︎ ';
}


#verify-list {
  list-style: none;
  padding-left: 0;
}

#challenge-completed {
  color: #2BDA9E;
  font-size: 24px;
  font-family: "NothingYouCouldDo";
}

#challenge-completed h2 {
  padding: 0; margin: 0;
}

.completed-challenge-list {
  font-family: "NothingYouCouldDo";
  /*background-color: #BADFFF;*/
  color: #2BDA9E;
  padding: 2px 4px;
  text-transform: uppercase;
  font-size: 12px;
}

button {
  display: inline-block;
  background-color: #CBCBCB;
  color: #818181;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  border: 1px solid transparent;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
  text-transform: uppercase;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #e7e7e7;
}

button.white {
  background-color: #fff;
  color: #0087ff;
}

button.white:hover {
  background-color: #eeeeee;
}

button.white:disabled {
  background-color: #F5F5F5;
  color: #C8C8C8;
}

button.light-blue {
  background-color: #D2EAFF;
  color: #86B6E0;
}

button.light-blue:hover {
  background-color: #e2effa;
}

#clear-completed-challenge {
  margin-bottom: 11px;
}

#clear-all-challenges:disabled,
#get-started:disabled {
  display: none;
}

.teal {
  background: #2BDA9E;
  color: #fff;
}

.teal:hover {
  background: #6EE7BD;
  color: #fff;
}

.grey-border {
  border: 1px solid #818181
}
