<div class="verify bold-blue solid-box">
    <button class="btn-white" id='select-directory'>SELECCIONA LA CARPETA</button>
    <button class="btn-white" id='verify-challenge'>VERIFICAR</button>
    <div id="verify-spinner" class="sk-double-bounce">
        <div class="sk-child sk-double-bounce1"></div>
        <div class="sk-child sk-double-bounce2"></div>
    </div>
    <span id='path-required-warning'>Por favor, selecciona la carpeta en la que está tu repositorio.</span>
    <span id='directory-path'></span>
    <ul id="verify-list">
    </ul>
    <button class="btn-white" id="clear-completed-challenge">Reiniciar el estado de completado</button>
</div>
