<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Git-it</title>
    <link rel="stylesheet" href="../assets/css/new-style.css">
    <link rel="stylesheet" href="../assets/css/new-challenge.css">
    <link rel="stylesheet" href="../assets/css/buttons.css">
    <script>require('../lib/handle-external-links.js')</script>
  </head>

  <body>
    {{{ header }}}

    <div class="page-wrapper">
      {{{ body }}}
    </div>

  </body>
</html>
