<div class="prenext">
    <div class="u-floatLeft">
        <a href="{{ preurl }}" class="u-inline-block all-caps">{{ prename }}
            <div class="arrow-left"></div>
        </a>
    </div>
    <div class="u-textRight u-floatRight">
        <a href="{{ nexturl }}" class="u-inlineBlock all-caps">{{ nextname }}
            <div class="arrow-right"></div>
        </a>
    </div>
</div>

<!-- Changing the Box-Titles to German -->
<style>
  .chal-no-pass.border-box::before { content: "Ging etwas schief...?"; }
  .chal-tip.border-box::before     { content: "Tipp"; }
  .chal-step.border-box::before    { content: "Nächster Schritt"; }
  .chal-goal.border-box::before    { content: "Aufgabenziel"; }
</style>