<footer>
    <ul>
        <li class="all-caps"><a href="../index.html"><strong>Git-it Aufgaben</strong></a></li>
        <li class="all-caps"><a href="about.html">Über Git-it</a></li>
        <li class="all-caps"><a href="dictionary.html">Wörterbuch</a></li>
        <li class="all-caps"><a href="resources.html">Ressourcen</a></li>
        <li class="all-caps">
            <a href="http://github.com/jlord/git-it/issues/new" target="_blank">Öffne ein Problem (engl. Issue) auf GitHub.</a>
        </li>
    </ul>
</footer>
